@page "/"

<h1>Добро пожаловать в наше приложение!</h1>

<p>Выберите один из разделов для работы:</p>

<nav>
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="/register">Регистрация</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/login">Вход</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/treeview">Иерархическое дерево</NavLink>
        </li>
        <!-- Если у вас есть дополнительные страницы, добавьте их сюда -->
        <!-- <li class="nav-item">
            <NavLink class="nav-link" href="/users">Управление пользователями</NavLink>
        </li> -->
    </ul>
</nav>
